.card {
    max-width: 425px;
    margin: 2rem auto;
    border: none;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.44);
    color: #235239;

    .cardBody {
        .cardContentHeader {
            display: flex;
            flex-direction: column;

            .cardTitle {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            .eur {
                display: flex;
                flex-direction: column;
                background-color: #235239;
                color: white;
                margin: 0;
                line-height: 1;
                padding: .6rem 0;
                font-size: 2rem;
                font-weight: 700;
                border-radius: 5px;
                margin-bottom: 1rem;

                span {
                    font-size: 1rem;
                    color: #5b7e6c;
                }
            }
        }

        .description {
            text-align: left;
        }

        .itemControls {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .buttons {
                display: flex;
                justify-content: flex-end;
                gap: 5px;

                .deleteItemButton {
                    background-color: #dc3545;
                    line-height: 2;
                    color: white;
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 0 10px;
                }

                .editItemButton {
                    background-color: #5b7e6c;
                    line-height: 2;
                    color: white;
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 0 10px;
                }

            }

            .createdEdited {
                font-size: .8rem;
                display: flex;
                justify-content: space-evenly;
                color: #5b7e6c;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}