.categoryContainer {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #5b7e6c;
    margin-bottom: 3rem;

    &:last-of-type {
        border-bottom: none;
    }


    .categoryTitle {
        color: #235239;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .categoryControls {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem 0;

    }
}