.tabNavigation {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    justify-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Hide standard scrollbar */
    -ms-overflow-style: none;
    /* Hide Internet Explorer scrollbar */
    background-color: white;
    -webkit-box-shadow: 0px 5px 20px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 20px 6px rgba(0, 0, 0, 0.2);
    z-index: 2 !important;
}

.tabNavigation::-webkit-scrollbar {
    width: 0px;
    /* Hide Chrome, Safari, and Opera scrollbar */
}