* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-open {
    overflow: hidden;
}

body {
    background-color: white;

}



button {
    border: none;
}

.App {
    background-color: white;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}