.tabs {
    background-color: white;
    padding-bottom: 0.6rem;
    border-bottom: none !important;
    height: 4rem;
}

.nav-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
}

.nav-link.active {
    color: #235239 !important;
    font-weight: 700;
    z-index: 1 !important;

}

.nav-link:not(.active) {
    color: white !important;
    background-color: #5b7e6c !important;
}

.tabContent {
    background-color: white;
}